{% extends 'core/base.html' %}

{% block content %}


	<div class="row">
		<div class="col-sm-6">
	    	<h1>About This Site</h1>
	    	
	    	<p>
	    		News Buddy is a news aggregator with a diverse range of
	    		perspectives and political ideologies. We maintain a 
	    		concise list of sources, focusing on journalism that:
	    	</p>
	
			<ul>
				<li>is intellectually honest.</li>
				<li>is well-researched and informative.</li>
				<li>avoids sensationalism.</li>
			</ul>
			
				<p>
	    		If you have any comments or suggestions for this site,
	    		please <a href="mailto:thebellsofohio@hotmail.com">contact us</a>.
	    	</p>
	    	
	    	<hr>
	    	<h2>Start Every Day with News Buddy</h2>
	    	
	    	<p>
	    		If you like getting your news here, consider setting it as your home page.
	    	</p>
	    	<p>
	    		URL: http://newsbuddy.news
	    	</p>
	    	<p>
	    		<a href="https://support.google.com/chrome/answer/95314?hl=en">Set homepage in Chrome</a>
	    	</p>
	    	<p>
	    		<a href="https://support.mozilla.org/en-US/kb/how-to-set-the-home-page">Set homepage in Firefox</a>
	    	</p>
	    	<p>
	    		<a href="https://support.microsoft.com/en-us/help/17426/windows-internet-explorer-11-change-home-page">Set homepage in Internet Explorer 11</a>
	    	</p>
	
		</div>
	</div>
	
{% endblock %}